{{! -Renders blog post title (link), username, date, description & edit/delete buttons on dashboard page- }}
<div class="container">
  <div class="row">
    <div class="card text-dark shadow mb-3">
      <div class="text-center mx-auto p-3">
        <h2><a href="/blogPost/{{id}}">{{title}}</a></h2>
        <p>Created by {{user.name}} on {{format_date date_created}}</p>
        <p>{{description}}</p>
        <button class="btn btn-dark" id="editBtn" data-id="{{id}}">Edit</button>
        <button
          class="btn btn-dark"
          id="deleteBtn"
          data-id="{{id}}"
        >Delete</button>
      </div>
    </div>
  </div>
</div>